---
layout: compress
---
<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% if page.topbar == true  %}
        <nav class="navbar">
            {% include horiznav.html %}
        </nav>
    {% else %}
        <nav class="hide-for-large navbar">
            {% include horiznav.html %}
        </nav>
    {% endif %}
    <main class="wrap">
      {% include header.html %}
      <div class="content_container columns">
          {{ content }}
      </div>
      {% if page.sidebar != null  %}
        <aside class="small-12 large-2 columns sidebar page-content recent-posts">
          {% include {{ page.sidebar | append: '.html' | prepend: '/asides/'}} %}
        </aside>
      {% endif %}
    </main>
<!-- Default Statcounter code for portfolio
https://charliebunt.github.io -->
<script type="text/javascript">
var sc_project=12871800; 
var sc_invisible=0; 
var sc_security="8a06dada"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12871800/0/8a06dada/0/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
  </body>
</html>
